html(lang=lang)
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/stylesheets/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet", href="/stylesheets/bootstrap.css")
    link(rel="stylesheet", href="/stylesheets/site.css")

    //- SEO tags 
    - pagePost=layout.post.data[0] 
    - pagePostMedias=layout.post.medias
    - pagePostFeatureMedia=layout.post.medias[0] 

    title #{pagePost.Post_Title} | #{settings.siteName}
    meta(name="description" content=pagePost.Post_Description)
    link(rel="canonical" href="https://"+baseurl + pagePost.Post_URL)
    meta(name="robots" content="index, follow")

    //- Facebook Open Graphs Tags
    meta(property="og:title" content=pagePost.Post_Title)
    meta(property="og:type" content=pagePost.Post_Type) 
    meta(property="og:image" content="https://"+baseurl + pagePostFeatureMedia.Multimedia_Path)  
    meta(property="og:url" content=pagePost.Post_URL)   
    meta(property="og:description" content=pagePost.Post_Description)    
    meta(property="og:site_name" content=settings.siteName)   
    meta(property="fb:admins" content=settings.fbAdmins)  
    meta(property="og:locale" content=lang)   

    //- Twitter card tags
    meta(name="twitter:title" content=pagePost.Post_Title)
    meta(name="twitter:description" content=pagePost.Post_Description)
    meta(name="twitter:card" content=pagePost.Post_Calltoaction)
    meta(name="twitter:url" content=pagePost.Post_URL)
    meta(name="twitter:image" content="https://"+baseurl + pagePostFeatureMedia.Multimedia_Path)

    //- Google Analytics
    script(async,src="https://www.googletagmanager.com/gtag/js?id=UA-92975810-5")
    script(src='/scripts/analytics.js')
 
    

block header
    include _helpers
    include _mixins
    - logo =  layout.header.data[0].Medias[0]
    - secundaryRoisAnimations = layout.header.data[1].Medias
    - secundaryRoisTexts = layout.header.data[1].Descriptions
    body
        header.container-fluid.header-container
            div.container
                div.logo-container.col-md-5.col-sm-5
                    a(href='/')
                        img#header_logo(src=logo.Multimedia_Path, alt=logo.Multimedia_Description)
                    div.lang-container
                        - if (lang=='en')
                            a(href='/es') Español
                        - else 
                            a(href='/en') English
                    div.rois-logo-line.not-in-mobile
                    div.rois-logo-dot.not-in-mobile
                //- SECUNDARY ROIS
                div.secundary-rois-container.col-md-5.col-sm-5
                    div.animation-container
                        div.itsatrap.full-size
                        each animation in secundaryRoisAnimations
                            img(class='animate secundary-rois pos-'+animation.MediaContent_Position, src=animation.Multimedia_Path, alt=animation.Multimedia_Description)
                    div.text-container.secundary-rois
                        div.shadow-container.secundary-rois
                            div.figure-box.secundary-rois
                        each text in secundaryRoisTexts
                            h5(class='text secundary-rois pos-'+text.ContentDescription_Position,attr-text!=text.ContentDescription_Description)
                //- END OF SECUNDARY ROIS
                div.menu-container.col-md-7.col-sm-7
                    ul#header_menu
                        each section in layout.menuSections.data
                            li.menu-item
                                - if (section.Section_Name!="Contact-Us")
                                    a(class='scrollto', href='#'+section.Section_Name_en )= section.Section_Name
                                - else
                                    a(class='scrollto', href='#'+section.Section_Name_en ) Contact Us
                    div.rois-menu-line-thick
                    div.rois-menu-line-thin.not-in-mobile

	
block content
    div.page-content

block loader&messagebox
    - loader =  layout.footer.data[0].Medias[0]
    - messagesTexts = layout.footer.data[1].Descriptions
    div.loader.full-size.fixed-screen
            img.loading-gif(src=loader.Multimedia_Path, alt=loader.Multimedia_Description)
    div.message-box.full-size.fixed-screen
        div.message-text-container
            each text in messagesTexts
                p(class='message-text pos-'+text.ContentDescription_Position)!= text.ContentDescription_Description

block footer
    footer.container-fluid.footer-container
        div.container

block scripts
    script(src="/scripts/move.min.js")
    script(src="/scripts/smoothScroll.min.js")
    script(src='/scripts/siteFunctions.js')

block pageScripts
