html(lang="es")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title #{view.title} | #{settings.siteName}
    link(rel="stylesheet", href="/stylesheets/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet", href="/stylesheets/bootstrap.css")
    link(rel="stylesheet", href="/stylesheets/site.css")
block header
    include _helpers.pug
    include _mixins.pug
    - loader =  layout.header.data[0].Medias[0]
    - logo =  layout.header.data[1].Medias[0]
    - secundaryRoisAnimations = layout.header.data[2].Medias
    - secundaryRoisTexts = layout.header.data[2].Descriptions
    body
        div.loader.full-size.fixed-screen
                img.loading-gif(src=loader.Multimedia_Path, alt=loader.Multimedia_Description)
        header.container-fluid.header-container
            div.container
                div.logo-container.col-md-5
                    a(href='/')
                        img#header_logo(src=logo.Multimedia_Path, alt=logo.Multimedia_Description)
                    div.rois-logo-line
                    div.rois-logo-dot
                //- SECUNDARY ROIS
                div.secundary-rois-container.col-md-5
                    div.animation-container
                        div.itsatrap.full-size
                        each animation in secundaryRoisAnimations
                            img(class='animate secundary-rois pos-'+animation.MediaContent_Position, src=animation.Multimedia_Path, alt=animation.Multimedia_Description)
                    div.text-container.secundary-rois
                        div.shadow-container.secundary-rois
                            div.figure-box.secundary-rois
                        each text in secundaryRoisTexts
                            h5(class='text secundary-rois pos-'+text.ContentDescription_Position)!= text.ContentDescription_Description
                //- END OF SECUNDARY ROIS
                div.menu-container.col-md-7
                    ul#header_menu
                        each section in layout.menuSections.data
                            li.menu-item
                                a(class='scrollto', href='#'+section.Section_Name_en )= section.Section_Name
                    div.rois-menu-line-thick
                    div.rois-menu-line-thin

	
block content
    div.page-content

block messagebox
    - messagesTexts = layout.footer.data[0].Descriptions
    div.message-box.full-size.fixed-screen
        div.message-text-container
            each text in messagesTexts
                p(class='message-text pos-'+text.ContentDescription_Position)!= text.ContentDescription_Description

block footer
    footer.container-fluid.footer-container
        div.container

block scripts
    script(src="/scripts/move.min.js")
    script(src='/scripts/siteFunctions.js')
    script(src="/scripts/smoothscroll.js")
    script(src='/scripts/siteEvents.js')

block initscripts
