extends _layout


block content
	- socialinks= home.contents.data[1].Descriptions
	div.page-content.container-fluid.home-container.loading

		//- HOME SECTION
		- if (isSectionEnabled(layout.menuSections.data,"Home"))
			- primaryRoisTexts = home.contents.data[0].Descriptions
			- primaryRoisAnimations = home.contents.data[0].Medias			
			section#Home
				div.container.primary-rois-container
					div.text-container.primary-rois.inner-columns.col-md-4.col-sm-4
						div.shadow-container.primary-rois.full-size
							div.black-background.corner-left.corner-top.primary-rois
							div.figure-box.primary-rois
						div.primary-rois-text-container
							each text in primaryRoisTexts
								h1(class='text primary-rois pos-'+text.ContentDescription_Position, attr-text!=text.ContentDescription_Description )
						//- div.dark-line.medium-line.thin-line.margin-left-20.transition.slow-entering-transition.slide-from-left
						//- div.light-line.medium-line.thin-line.margin-left-40.transition.slow-entering-transition.slide-from-bottom
					div.animated-rois-container.inner-columns.col-md-8.col-sm-8
						div.shadow-container.corner-right.corner-top
							div.black-background.full-size
						div.shadow-container.corner-left.corner-bottom
							div.black-background.full-size
						div.shadow-container
							div.yellow-background.primary-rois
								div.itsatrap.full-size
								each animation in primaryRoisAnimations
									img(class='animate primary-rois pos-'+animation.MediaContent_Position, src=animation.Multimedia_Path, alt=animation.Multimedia_Description)
						div.box-container.corner-right.corner-bottom
							//- div.bordered.full-size.relative.transition.mid-entering-transition.height.opacity
							div.dark-line.short-line.thin-line.inline-line.margin-left-0.transition.slow-entering-transition.width
							div.dark-line.short-line.thin-line.inline-line.margin-left-70.transition.slow-entering-transition.width
						+social_sidebar(socialinks) 
						+next_section_arrow("Services")

		//- SERVICES SECTION
		- if (isSectionEnabled(layout.menuSections.data,"Services"))
			- services= home.services.data
			section#Services
				div.container
					div.inner-columns.col-md-4.col-sm-4
						ul.services-list
							each service in services
								- if (service.Service_Position == 1)
									li(class='active pos-'+service.Service_Position )
										span=service.Service_Name
								- else 
									li(class='pos-'+service.Service_Position )
										span=service.Service_Name
						div.thin-line.medium-line.dark-line.margin-left-80.transition.slow-entering-transition.slide-from-left
						div.thin-line.medium-line.light-line.margin-left-70.transition.slow-entering-transition.slide-from-bottom

					div.inner-columns.col-md-8.col-sm-8
						div.box-container-1.shadow-container.corner-right.corner-top
							div.yellow-background.full-size.transition
						div.box-container-2.shadow-container.box-container.margin-left-20.bottom
							div.bordered.full-size.thick-border.transition.slow-entering-transition.opacity.height.linear
						div.box-container-3.services-container
								each service in services
									div(class='service pos-'+service.Service_Position)
										div(class='shadow-container service-img-container')
											each media in service.Medias
												img(class='service-img overlayed pos-'+media.MediaService_Position, src=media.Multimedia_Path, alt=media.Multimedia_Description)
										div.shadow-container
											p(class='service-description')= service.Service_Description
						+next_section_arrow("Portfolio")

		//- PORTFOLIO SECTION
		- if (isSectionEnabled(layout.menuSections.data,"Portfolio"))
			- portfolios= home.portfolios.data
			section#Portfolio
				div.container
					div.inner-columns.col-md-12
						div.box-container-1.shadow-container.left-sided.top-25
							div.yellow-background.full-size
						div.box-container-2.margin-left-40
							div.dark-line.short-line.thin-line.inline-line.margin-left-0.transition.slow-entering-transition.width
							div.dark-line.short-line.thin-line.inline-line.margin-left-60.transition.slow-entering-transition.width
						div.box-container-3
							div.bordered.full-size.transition.slow-entering-transition.height.opacity
						div.box-container-4.shadow-container
							div.black-background.full-size
						div.box-container-5
							div.bordered.full-size.transition.slow-entering-transition.width.opacity
						div.box-container-6.portfolios-container
							each portfolio in portfolios 
								div(class='portfolio pos-'+portfolio.Portfolio_Position)
									img(class='portfolio-img overlayed', src=portfolio.Medias[0].Multimedia_Path, alt=portfolio.Medias[0].Multimedia_Description)
									h4(class='portfolio-title') #{portfolio.Portfolio_Position}.- #{portfolio.Portfolio_Name}
									p(class='portfolio-description')!= portfolio.Portfolio_Description
							div.portfolio-controls
								each portfolio in portfolios 
									- if (portfolio.Portfolio_Position==1)
										a(class="portfolio-index active pos-"+portfolio.Portfolio_Position)
									- else 
										a(class="portfolio-index pos-"+portfolio.Portfolio_Position)
						+social_sidebar(socialinks)
						+next_section_arrow("Team")

		//- TEAM SECTION
		- if (isSectionEnabled(layout.menuSections.data,"Team"))
			- positiveLogo = home.contents.data[2].Medias[0]
			- teamMembers = home.teamMembers.data
			section#Team
				div.container
					div.inner-columns.col-md-12
						div.box-container-1.shadow-container.left-sided.top-25
							div.yellow-background.full-size
						div.box-container-2.left-80.top-30
							div.dark-line.short-line.thin-line.inline-line.margin-left-0.transition.slow-entering-transition.width
							div.dark-line.short-line.thin-line.inline-line.margin-left-60.transition.slow-entering-transition.width
						div.box-container-3.top-50.left-50.text-center.centered-x
							img.positive-logotype(src=positiveLogo.Multimedia_Path,alt=positiveLogo.Multimedia_Description)
							div.dark-line.medium-line.thin-line.margin-left-30.margin-top-15.transition.slow-entering-transition.slide-from-right
							div.dark-line.medium-line.thin-line.margin-left-0.margin-top-5.centered-x-25.transition.slow-entering-transition.slide-from-left
						div.box-container-4.teamMembers-container.top-30.text-center
							each member in teamMembers
								div(class='col-md-3 col-sm-4  member pos-'+member.TeamMember_Position)
									div.member-controls.text-center
										span(class="arrow prev-arrow pos-"+member.Medias.length, attr-length=member.Medias.length) ←
										span.point •
										span(class="arrow next-arrow pos-"+2, attr-length=member.Medias.length) →
									div.member-img-container
										div.black-background.left-0.top-0
											p.member-description.top-50.left-50.centered-xy=member.TeamMember_Description
										each media in member.Medias
											img(class='member-img pos-'+media.MediaTeam_Position, src=media.Multimedia_Path, alt=media.Multimedia_Description)
									div.member-info-container
										h3.member-name= member.TeamMember_Name
										h4.member-positionName= member.TeamMember_PositionName
									div.member-links-container
										- if (member.TeamMember_Instagram)
											a(href=member.TeamMember_Instagram, target="_blank", title="instagram")
												i.fa.fa-instagram
										- if (member.TeamMember_Facebook)
											a(href=member.TeamMember_Facebook, target="_blank", title="facebook")
												i.fa.fa-facebook
										- if (member.TeamMember_Twitter)
											a(href=member.TeamMember_Twitter, target="_blank", title="twitter")
												i.fa.fa-twitter
										- if (member.TeamMember_Github)
											a(href=member.TeamMember_Github, target="_blank", title="github")
												i.fa.fa-github
										- if (member.TeamMember_Behance)
											a(href=member.TeamMember_Behance, target="_blank", title="behance")
												i.fa.fa-behance
										- if (member.TeamMember_Website)
											a(href=member.TeamMember_Website, target="_blank", title="website")
												i.fa.fa-globe
										- if (member.TeamMember_Email)
											a(href='https://mail.google.com/mail/?view=cm&fs=1&to='+member.TeamMember_Email, target="_blank", title="email")
												i.fa.fa-envelope
						+next_section_arrow("Contact")

		//- CONTACT SECTION
		- if (isSectionEnabled(layout.menuSections.data,"Contact-Us"))
			- contactFormLabels = home.contents.data[3].Descriptions
			section#Contact-Us
				div.container
					div.inner-columns.col-md-12
						div.box-container-1.left-435.top-325
							div.shadow-container
								div.bordered.full-size.thick-border
							+social_sidebar(socialinks)
						div.box-container-2.left-15.top-275
							div.dark-line.medium-line.thin-line.margin-left-50.transition.fast-entering-transition.slide-from-top
							div.dark-line.medium-line.thin-line.margin-left-20.margin-top-5.transition.slow-entering-transition.slide-from-left
						div.box-container-3.shadow-container.left-285.top-325
							div.black-background.full-size
						div.box-container-4.left-325.top-25.contactForm-container
							div.box-container-5.full-size.shadow-container
								div.yellow-background.full-size
									form(class='contact-form', action='/Contact', method='POST')
										div.form-group.required
											label(for='contact-name')= contactFormLabels[0].ContentDescription_Description
											input(class='form-control',id='contact-name',type='text',name='name',required='required')
										div.form-group.required
											label(for='contact-email')= contactFormLabels[1].ContentDescription_Description
											input(class='form-control',id='contact-email',type='email',name='email',required='required')
										div.form-group
											label(for='contact-phone')= contactFormLabels[2].ContentDescription_Description
											input(class='form-control',id='contact-phone',type='text',name='phone')
										div.form-group.required
											label(for='contact-message')= contactFormLabels[3].ContentDescription_Description
											textarea(class='form-control',id='contact-message',type='text',name='message',rows="5",required='required')
										div.form-group.text-center
											button(class="btn btn-default",type = "submit")= contactFormLabels[4].ContentDescription_Description
							div.box-container-6
								div.dark-line.short-line.thin-line.inline-line.margin-left-0.transition.slow-entering-transition.width
								div.dark-line.medium-line.thin-line.inline-line.margin-left-20.transition.slow-entering-transition.width
						div.box-container-7.right-sided.top-50.centered-y.text-center
							a(class='scrollto', href='#Home') 
								img.contact-logo(src=logo.Multimedia_Path, alt=logo.Multimedia_Description)
						a(class='scrollto arrow-next', href='#Home') 
								span ↑
							
block pageScripts
	script(src='/scripts/homeEvents.js')
	script(src='/scripts/homeInit.js')